*{
  margin: 0%;
}
html{
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background: url('../images/fianlfansai.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
   height: 100%;
  width: 100%;
  
}
#menu ul li {
  display: inline;

 
}
#menu{
  background-color: green;

  width: 100%;
  height: 6%;
  vertical-align: middle;
}
header{
  margin-bottom: 2%;
  
}


#menu li a:hover{
 
    background-color: orange;
 
   text-decoration: underline;
   text-decoration-color: blue;
}



#textCentral{
border:1px solid black;
width: 60%;
height: 35%;
float: left;
overflow-x:hidden;
overflow-y: hidden;
margin-bottom: 5%;
}
#texto1{
  float: left;
  width: 45%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
#texto1 p {
  float: left;
  width: 100%;
  height: 100%;
  
}
#imgtexto{
  float:right;
  width: 45%;
  height: 100%;
  overflow: hidden;
}
#imgtexto img{

  width: 100%;
  height: 100%;
  display: block;
  padding: 5px;
}
#redesderecha{
  float: right;
  width: auto;
  height: auto; 


}
#textoarriba{
  float:left;
  width: 60%;
  height: 40%;
  border:1px black solid;

  margin-bottom: 5%;
}
#footer{
  width: 100%;  
  clear: both;
  background-color: red;
  margin-top:2%;

}
#textOverflow{
  width: 45%;
  height: 90%;
  float: left;
  overflow-x:hidden;
  overflow-y: scroll;
}
#img2{
  float: right;
  width: 45%;
  height: 90%;
  overflow: hidden;
}
#img2 img{
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px;
}

#textCookie {
  text-align: center;
}

#cookieEU {
 /*
  Punto 4: La capa esta posicionada casi al centro de la pantalla. Se diferencia del menu y del footer en que NO se queda fija al hacer scroll de la pagina.
 */

  /* necesitas 4 instrucciones. 3 son distancia a los bordes :)*/
  /*1: */  position: fixed;
  /*2: */   top: 40%;
  /*3: */    left: 20%;
  /*4: */    right: 20%;
  border:2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}


@media all and (max-width: 500px) {
  #imageLeft {
    /*
    Punto 7.1: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */ float: none;
    text-align: center;
    padding-bottom: 5px;
    
    
  }


  #imageLeft img{ width: 100%;

  }
  #imageRight {
    /*
    Punto 7.1: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */ float: none;
    text-align: center;
    clear: both;
  padding-bottom: 5px;
  
  
  
  }

  
.redesderecha{
  position: fixed;
  top: 50%;
  right: 15px;              /* pegados al borde */
  transform: translateY(-50%);
  
  
 

  z-index: 9999
  
}

  #imageToHide img{
    width: 100%;
  }
  
.textoarriba{

  
  
}

.textoabajo{
 ;
}

  #textCentral {
    margin: 0px 0px ;
  }
  
  #imageToHide {
    /*
    Punto 7.2: Barra de menu siempre estara 
    */
    /* necesitas 1 instruccion*/
    /*1: */ float: none;

    text-align: center;
    margin-bottom: 40px;
  }
  
  #textOverflow {
    margin-right: 0px;
  }
  
  #header {
    margin-top: 50px;
  }
 
}

.background{
  height: 100%;
}



@media all and (max-width: 300px) {
  #header {
    /*
    Cambio el margen para que no lo tape el menu
    */
    margin-top: 100px;
  }
}